In [9]:
import os
print(os.getcwd())
os.chdir('d:/Users/mokky/Documents/GitHub/NUS-ISS/IS02_PT_Capstone_Human_Re-ID')
print(os.getcwd())

d:\Users\mokky\Documents\GitHub\NUS-ISS\IS02_PT_Capstone_Human_Re-ID
d:\Users\mokky\Documents\GitHub\NUS-ISS\IS02_PT_Capstone_Human_Re-ID

In [2]:
import sqlite3
from src.database.database import DbQuery
import pandas as pd
import matplotlib.pyplot as plt
import cv2
import numpy as np

In [7]:
db_path = 'reid/Reid_20210816.db'
query = "SELECT name FROM sqlite_master WHERE type='table'"
conn = sqlite3.connect(db_path, detect_types=sqlite3.PARSE_DECLTYPES |
                          sqlite3.PARSE_COLNAMES)
cursor = conn.cursor()
cursor.execute(query)
column_names = [desc[0] for desc in cursor.description]
qry_results = pd.DataFrame(cursor.fetchall(), columns=column_names)
print(qry_results)
print(qry_results.name.tolist())

             name
0  vectorkb_table
['vectorkb_table']

In [8]:
table_name = 'vectorkb_table'
query = f'SELECT * FROM {table_name}'
cursor.execute(query)
column_names = [desc[0] for desc in cursor.description]
qry_results = pd.DataFrame(cursor.fetchall(), columns=column_names)
display(qry_results.info())
display(qry_results.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   img_id           63 non-null     object
 1   img              63 non-null     object
 2   vector_tensor    63 non-null     object
 3   create_datetime  0 non-null      object
 4   cam_id           63 non-null     int64
 5   track_id         63 non-null     object
dtypes: int64(1), object(5)
memory usage: 3.1+ KB

None

,img_id,img,vector_tensor,create_datetime,cam_id,track_id
0,3_AI1S_20210816T105856,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...,b'\x80\x03ctorch._utils\n_rebuild_tensor_v2\nq...,None,3,AI1S
1,3_VDNW_20210816T105914,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...,b'\x80\x03ctorch._utils\n_rebuild_tensor_v2\nq...,None,3,VDNW
2,3_VDNW_20210816T105918,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...,b'\x80\x03ctorch._utils\n_rebuild_tensor_v2\nq...,None,3,VDNW
3,3_VDNW_20210816T105923,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...,b'\x80\x03ctorch._utils\n_rebuild_tensor_v2\nq...,None,3,VDNW
4,3_QY1H_20210816T105943,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...,b'\x80\x03ctorch._utils\n_rebuild_tensor_v2\nq...,None,3,QY1H

In [16]:
sorted(qry_results.cam_id.unique().tolist())
for cam_id in sorted(qry_results.cam_id.unique().tolist()):
    for idx, row in qry_results[qry_results.cam_id == cam_id].iterrows():
        print(row.cam_id)

3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
15
15
15
15
15
15
15
15
15
15
15
15
15
15
15
15
15
15
15
15
15
15
15
15
15
15

In [10]:
table_name = 'vectorkb_table'
query = f"SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='{table_name}'"
cursor.execute(query)
column_names = [desc[0] for desc in cursor.description]
qry_results = pd.DataFrame(cursor.fetchall(), columns=column_names)
display(qry_results.info())
display(qry_results.head())

OperationalError: no such table: INFORMATION_SCHEMA.COLUMNS

In [6]:
table_name = 'sqlite_sequence'
query = f'SELECT * FROM {table_name}'
cursor.execute(query)
column_names = [desc[0] for desc in cursor.description]
qry_results = pd.DataFrame(cursor.fetchall(), columns=column_names)
display(qry_results.info())
display(qry_results.head())

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   img_id     0 non-null      object
 1   cam_id     0 non-null      object
 2   timestamp  0 non-null      object
 3   track_id   0 non-null      object
dtypes: object(4)
memory usage: 0.0+ bytes

None

Empty DataFrame
Columns: [img_id, cam_id, timestamp, track_id]
Index: []

In [7]:
table_name = 'VectorKB_Table'
query = f'SELECT DISTINCT(cam_id) FROM {table_name}'
cursor.execute(query)
column_names = [desc[0] for desc in cursor.description]
qry_results = pd.DataFrame(cursor.fetchall(), columns=column_names)
display(qry_results.info())
display(qry_results.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cam_id  3 non-null      int64
dtypes: int64(1)
memory usage: 152.0 bytes

None

   cam_id
0       2
1       3
2      15

In [10]:
table_name = 'VectorKB_Table'
query = f'SELECT timestamp FROM {table_name}'
cursor.execute(query)
column_names = [desc[0] for desc in cursor.description]
qry_results = pd.DataFrame(cursor.fetchall(), columns=column_names)
display(qry_results.info())
display(qry_results.min(), qry_results.max())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  434 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 3.5 KB

None

timestamp   2021-04-03 23:52:40.459463
dtype: datetime64[ns]

timestamp   2021-04-04 00:05:21.347568
dtype: datetime64[ns]